body{
   
    color: beige;
    background-color: blue;
   
   

}
h1{
 
    font-family: 'Great Vibes', cursive;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Acme', sans-serif;
}
.image{
    margin:50px;
}